<div  class="Reservations">
  <div class="row">
      <div class="col-sm-1">
        <button class="glyphicon glyphicon-search btn plus" ng-click="RE.reservationModal(lg)" aria-hidden="true"></button>
          <button class="glyphicon glyphicon-plus btn plus" ng-click="RE.reservationModal(lg)" aria-hidden="true"></button>
          <button class="glyphicon glyphicon-fire btn plus" ng-click="RE.reservationModal(lg)" aria-hidden="true"></button>  

      </div>
    <div class="col-sm-11 resCont">
      Level 2 
        <div class="col-sm-4">
        <div ng-repeat="obj in RE.reservations">
          {{test}}
          <div class="resCard">
            <div>Fiest Name: {{obj.name.first}}</div>
            <div>Last Name: {{obj.name.last}}</div>
            <div>{{obj.time}}</div>
            <div>Email: {{obj.email}}</div>
            <div>Phone Number: {{obj.phoneNumber}}</div>
            <div>Reservation Time: {{obj.resDayAndTime}}</div>
            <div>Number of guests: {{obj.guestNumber}}</div>
    <button ng-click="RE.updateReservation()">Click me</button>
          </div>
        </div>
        </div>
          <div class="col-sm-6" >seating</div>
    </div>
  </div>
</div>  